# Python
__pycache__/
*.py[cod]
.venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
terraform.tfvars

# Environment / secrets
.env
credentials.csv

# Linux
*~
.nfs*

# Logs
*.log
orchestration/logs/