AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_DEFAULT_REGION=us-east-1
LAMBDA_FUNCTION_NAME=ecommerce-event-ingestion
RAW_BUCKET=your-name-ecommerce-raw-123456789
CURATED_BUCKET=your-name-ecommerce-curated-123456789
GLUE_CRAWLER_NAME=raw-orders-crawler
GLUE_ETL_JOB=raw-to-curated-orders
GLUE_DQ_JOB=data-quality-checks
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin